---
layout: null
sitemap: false
permalink: /404.html
title:  "Page not found"
description: "Page not found. Your pixels are in another canvas."
noindex: true
---
<!doctype html>
<html lang="bg-BG">
{% include head.html %}
<body>
{% include nav.html %}
<header>
<section class="main">
<p class="header"><span class="author">&middot; {{ site.title }} &middot; {{ site.author }} &middot;</span></p>
<h1 class="four-o-four">404</h1>
<h2 class="header">Page not found. Your pixels are in another canvas</h2>
</section>
</header>
<article class="main">
<section class="main">       
<p>This is an awkward place to be, I know. Not being found and not knowing what to do is scary.
    In the meantime, you can <a href="{{ '' | prepend: site.baseurl | prepend: site.url }}">go home</a>
    and look for what you originally came to find there.</p>
</section>
</article>
{% include footer.html %}
</body>
</html>